config {
    testsDir "tests"
    workDir ".nf-test"
    libDir "tests/lib"
    profile "singularity,sanger"
    withTrace true
    autoSort false
    // Running as stub - stops any generation of of pretext files which are what we want to see
    options "-dump-channels"

    plugins {
        load "nft-utils@0.0.3"
    }
}

