nextflow.enable.moduleBinaries = true

process {
    withName: TELOMERE_WINDOWS {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.args    = { "${params.windows_percent}" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: TELOMERE_EXTRACT {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: GAWK {
        ext.args2   = { "${params.gawk_args}" }
        ext.suffix  = "split.telomere"
    }
}
