nextflow.enable.moduleBinaries = true

process {
    withName: TELOMERE_WINDOWS {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.args    = { "${params.windows_percent}" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: TELOMERE_EXTRACT {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: GAWK_SPLIT_TELOMERE {
        ext.prefix  = "direction"
        ext.suffix  = "telomere"
    }

    withName: TABIX_BGZIPTABIX {
        ext.args2       = { "${params.bgzip_args}" }
    }
}
