process {
    withName: '.*:.*:LONGREAD_COVERAGE:(MINIMAP2_ALIGN|MINIMAP2_ALIGN_SPLIT)' {
        cpus   = { 20   * 1 }
        memory = {
                1.GB * (
                reference.size() < 2e9 ? 30 :
                (reference.size() < 5e9 ? 40 :
                (reference.size() < 10e9 ? 60 :
                Math.ceil((reference.size() / 1e9) * 3)
                    )
                )
            ) * Math.ceil(task.attempt * 1)
        }
        time    = {  96.h     * Math.ceil( task.attempt * 1 ) }
    }
}
