/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //
    // NOTE: ESSENTIAL OUTPUT
    //

    withName: "GAWK_TELO_FIX" {
        ext.prefix      = { "${input.baseName[0]}.fixed" }
        ext.suffix      = { "bed" }
    }

    withName: "PRETEXT_INGEST_SNDRD" {
        ext.args        = { "--textureBuffer 1G" }
        ext.prefix      = { "${meta.id}_normal" }
    }

    withName: "PRETEXT_INGEST_HIRES" {
        ext.args        = { "--textureBuffer 1G" }
        ext.prefix      = { "${meta.id}_hr" }
    }

    withName: "PRETEXT_INGEST_ULTRA" {
        ext.args        = { "--textureBuffer 1G" }
        ext.prefix      = { "${meta.id}_ultra" }
    }

    withName: "MINIMAP2_INDEX" {
        ext.args        = { "${fasta.size() > 2.5e9 ? (" -I " + Math.ceil(fasta.size()/1e9)+"G") : ""} "}
    }

    withName: '.*:READ_COVERAGE:MINIMAP2_ALIGN' {
        ext.args = { [
            meta.read_type.equals("hifi") ? "-ax map-hifi" : "",
            meta.read_type.equals("clr") ? "-ax map-pb" : "",
            meta.read_type.equals("ont") ? "-ax map-ont" :"",
            meta.read_type.equals("illumina") ? "-ax sr" : "",
            "--cs=short",
            reference.size() > 2.5e9 ? (" -I" + Math.ceil(reference.size()/1e9)+"G") : "",
        ].minus("").join(" ") }
        ext.args2   = { "-T ${meta.id}_tmp" }
        ext.prefix  = { "${meta.id}_alignment_${reference.getName().tokenize('.')[0]}" }
    }

    withName: ".*:CREATE_MAPS_STDRD:PRETEXTMAP" {
        ext.args        = { "${meta.map_order.equals("length") ? "--sortby length": "--sortby nosort" } --mapq ${params.multi_mapping}" }
        ext.prefix      = { "${meta.id}_normal_pi" }
    }

    withName: ".*:CREATE_MAPS_HIRES:PRETEXTMAP" {
        ext.args        = { "${meta.map_order.equals("length") ? "--sortby length": "--sortby nosort" } --highRes --mapq ${params.multi_mapping}" }
        ext.prefix      = { "${meta.id}_hr_pi" }
    }

    withName: ".*:CREATE_MAPS_ULTRA:PRETEXTMAP" {
        ext.args        = { "${meta.map_order.equals("length") ? "--sortby length": "--sortby nosort" } --ultraRes --mapq ${params.multi_mapping}" }
        ext.prefix      = { "${meta.id}_ultra_pi" }
    }

    withName: ".*:ALIGN_CRAM:CRAMALIGN_BWAMEM2ALIGNHIC" {
        ext.args        = ""
        ext.args2       = "-F0xB00 -nt"
        ext.args3       = { "-5SPCp" }
        ext.args4       = "-mpu"
        ext.args6       = { "--write-index -l1" }
    }

    withName: ".*:ALIGN_CRAM:CRAMALIGN_MINIMAP2ALIGNHIC" {
        ext.args        = ""
        ext.args2       = ""
        ext.args3       = { "-ax sr" }
        ext.args4       = "-mpu"
        ext.args6       = { "--write-index -l1" }
    }

    withName: ".*:CURATIONPRETEXT:SAMTOOLS_MERGE" {
        ext.args = "-c"
    }

    withName: ".*:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGE" {
        ext.args = "--write-index"
    }

    withName: ".*:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGEDUP" {
        ext.args2 = "--write-index"
    }

}
