/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/curationpretext -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input       = "${baseDir}/TreeValTinyData/assembly/draft/grTriPseu1.fa"
    reads       = "${baseDir}/TreeValTinyData/genomic_data/pacbio/"
    cram        = "${baseDir}/TreeValTinyData/genomic_data/hic-arima/"
    sample      = "CurationPretextTest"
    teloseq     = "TTAGGG"
    aligner     = "bwamem2"
    all_output  = true
    skip_tracks = "NONE"
}
