process {
    cpus          = { 1      * task.attempt }
    memory        = { 12.GB   * task.attempt }
    time          = { 8.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // IN CASES WHERE THERE IS ONE HIC FILE THIS WILL NEED ALMOST NOTHING
    withName:SAMTOOLS_MERGE {
        cpus    = { 16                          }
        memory  = { 100.GB    * task.attempt    }
        time    = { 30.h      * task.attempt    }
    }

    withName: '.*:.*:LONGREAD_COVERAGE:(MINIMAP2_ALIGN|MINIMAP2_ALIGN_SPLIT)' {
        cpus   = { 20   * 1 }
        memory = {
                4.GB * (
                reference.size() < 2e9 ? 30 :
                (reference.size() < 5e9 ? 40 :
                (reference.size() < 10e9 ? 60 :
                Math.ceil((reference.size() / 1e9) * 5)
                    )
                )
            ) * Math.ceil(task.attempt * 1)
        }
        time   = { 40.h  * Math.ceil(task.attempt * 1) }
    }


    withName: PRETEXT_GRAPH {
        memory  = { 128.MB   * Math.ceil( task.attempt * 1.5 ) }
    }

    withName: ".*:CREATE_MAPS_STDRD:PRETEXTMAP" {
        cpus    = { 8        * 1 }
        memory  = { 3.GB     * task.attempt }
        time    = { 1.h      * ( ( fasta.size() < 4e9 ? 24 : 48 ) * task.attempt ) }
    }

    withName: ".*:CREATE_MAPS_HIRES:PRETEXTMAP" {
        cpus    = {  8       * task.attempt }
        memory  = {  60.GB   * Math.ceil( task.attempt * 2.6 ) }
        time    = {  1.h     * ( ( fasta.size() < 4e9 ? 24 : 48 ) * Math.ceil( task.attempt * 1 ) ) }
    }

    withName: '.*:CREATE_MAPS_STDRD:PRETEXTSNAPSHOT' {
        cpus    = { 1        * task.attempt }
        memory  = { 1.GB     * task.attempt }
    }

    withName: BWAMEM2_INDEX {
        memory = { 4.GB * Math.ceil( 28 * fasta.size() / 1e+9 ) * task.attempt }
    }

    withName: MINIMAP2_INDEX {
        cpus    = {  2    * task.attempt }
        memory  = {  4.GB * Math.ceil( 4 * fasta.size() / 1e+9 ) * task.attempt }
    }

    withName: GAP_LENGTH {
        cpus   = { 1                        }
        memory = { 1.GB    * task.attempt }
    }

    withName: GNU_SORT {
        memory = { 1.GB      * task.attempt }
    }

    withName: BEDTOOLS_INTERSECT {
        memory = { 40.GB * task.attempt }
        time   = { 20.h  * task.attempt }
    }

    withName: CRAMALIGN_BWAMEM2ALIGNHIC {
        cpus    = { 16       * 1            }
        memory  = { 100.GB   * task.attempt }
        time    = { 40.h     * task.attempt }
    }
}
