
process {
    withName: MINIMAP2_ALIGN {
        ext.prefix = { "${meta.id}_${meta.read_idx}" }
        ext.args  = { params.minimap2_align_args }
    }

    withName: BEDTOOLS_SORT {
            ext.prefix = { "${meta.id}_out" }
            ext.suffix = "bed"
    }

    withName: BEDTOOLS_GENOMECOV {
            ext.prefix = { "${meta.id}" }
            ext.args = { params.bedtools_genomecov_args }
    }
}
