process {

    // READ COVERAGE
    withName: ".*:REPEAT_DENSITY:UCSC_BEDGRAPHTOBIGWIG" {
        ext.prefix      = { "${meta.id}_repeat_density" }
    }

    withName: '.*:READ_COVERAGE:MINIMAP2_ALIGN' {
        ext.args    = { "-x map-ont" }
        ext.args2   = { "-T ${meta.id}_tmp" }
        ext.prefix  = { "${meta.id}_alignment_${reference.getName().tokenize('.')[0]}" }
    }

    withName: ".*:READ_COVERAGE:BEDTOOLS_GENOMECOV" {
        ext.prefix  = { "${meta.id}" }
        ext.args    = { "-bg -split" }
    }

    // GAP FINDER
    withName: ".*:GAP_FINDER:SEQTK_CUTN" {
        ext.args    = "-n 1"
    }

    withName: ".*:GAP_FINDER:GAWK_GAP_LENGTH" {
        ext.suffix = 'gap.bedgraph'
    }

    // REPEAT_DENSITY - REPEAT DENSITY

    withName: ".*:REPEAT_DENSITY:GAWK_EXTRACT_REPEATS" {
        ext.prefix  = { "${meta.id}_extract_repeats" }
    }

    // REPEAT_DENSITY - FEATURE_DENSITY

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:BEDTOOLS_INTERSECT" {
        ext.prefix  = { "${meta.id}_INTERSECT" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:BEDTOOLS_MAKEWINDOWS" {
        ext.args    = { "-w 10000" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:BEDTOOLS_MAP" {
        ext.prefix  = { "${meta.id}_MAPPED" }
        ext.args    = { "-c 4 -o sum" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GNU_SORT_A" {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "intersect" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GNU_SORT_B" {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "genome" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GNU_SORT_C" {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "bins" }
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GAWK_RENAME_IDS" {
        ext.suffix = '_renamed.bed'
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GAWK_REPLACE_DOTS" {
        ext.args2 = "'{ gsub(/\\./, \"0\"); print}'"
        ext.suffix = '_nodot.bed'
    }

    withName: ".*:REPEAT_DENSITY:FEATURE_DENSITY:GAWK_REFORMAT_INTERSECT" {
        ext.args2 = "'{ gsub(/\\./, \"0\"); printf \"%s\\t%.0f\\n\", \$0, sqrt((\$3 - \$2) * (\$3 - \$2))}'"
        ext.suffix = 'bed'
    }

    withName: "TELOMERE_FINDTELOMERE" {
        ext.args2 = "99.9 0.01"
    }

    withName: "HTSLIB_BGZIPTABIX" {
        ext.prefix = { infile.name }
        ext.args2 = "--csi"
    }

}
