process {

    withName: GAWK {
        ext.suffix      = { "sizes" }
    }

    withName: BEDTOOLS_INTERSECT {
        ext.prefix      = { "${params.bedtools_intersect_prefix}" }
    }

    withName: BEDTOOLS_MAP {
        ext.prefix      = { "${params.bedtools_map_prefix}" }
        ext.args        = { "${params.bedtools_map_args}" }
    }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.prefix      = { "${params.bedtools_makewindows_prefix}" }
        ext.args        = { "${params.bedtools_makewindows_args}" }
    }

    withName: UCSC_BEDGRAPHTOBIGWIG {
        ext.prefix      = { "${params.bedgraphtobw_prefix}" }
    }

    withName: GNU_SORT_A {
        ext.args        = { "${params.gnu_sort_a_args}" }
        ext.suffix      = { "${params.gnu_sort_a_suffix}" }
    }

    withName: GNU_SORT_B {
        ext.args        = { "${params.gnu_sort_b_args}" }
        ext.suffix      = { "${params.gnu_sort_b_suffix}" }
    }

    withName: GNU_SORT_C {
        ext.args        = { "${params.gnu_sort_c_args}" }
        ext.suffix      = { "${params.gnu_sort_c_suffix}" }
    }

    withName: GAWK_EXTRACT_REPEATS {
        ext.prefix = { "${params.gawk_extract_repeats_prefix}" }
        ext.suffix = { "${params.gawk_extract_repeats_suffix}" }
    }

    withName: GAWK_REPLACE_DOTS {
        ext.prefix = { "${params.gawk_replace_dots_prefix}" }
        ext.suffix = { "${params.gawk_replace_dots_suffix}" }
    }

    withName: GAWK_RENAME_IDS {
        ext.prefix = { "${params.gawk_rename_ids_prefix}" }
        ext.suffix =  { "${params.gawk_rename_ids_suffix}" }
    }

    withName: GAWK_REFORMAT_INTERSECT {
        ext.prefix  = { "${params.gawk_reformat_intersect_prefix}" }
        ext.suffix  = { "${params.gawk_reformat_intersect_suffix}" }
    }

    withName: TABIX_BGZIPTABIX {
        ext.prefix      = { "${params.bgzip_prefix}" }
        ext.args        = { "${params.bgzip_args}" }
        ext.args2       = { "${params.bgzip_args2}" }
    }
}
