nextflow.enable.moduleBinaries = true

process {
    withName: TELOMERE_WINDOWS {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.args    = "99.9"
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: TELOMERE_EXTRACT {
        tag         = { "${meta.id}_${meta.direction}P" }
        ext.prefix  = { "${meta.id}_${meta.direction}P" }
    }

    withName: GAWK {
        ext.args2   = "'BEGIN { FS=\"\\t\"; OFS=\"\\t\" } {print > \"direction.\"\$3\".split.telomere\"}'"
        ext.suffix  = "split.telomere"
    }
}
