process {

    withName: BEDTOOLS_INTERSECT {
        ext.prefix      = { "${meta.id}_INTERSECT" }
    }

    withName: BEDTOOLS_MAP {
        ext.prefix      = { "${meta.id}_MAP"    }
        ext.args        = { "-c 4 -o sum"       }
    }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.prefix      = { "${meta.id}_MAKEWINDOWS" }
        ext.args        = { "-w 10000" }
    }

    withName: UCSC_BEDGRAPHTOBIGWIG {
        ext.prefix      = { "${meta.id}_repeat_density" }
    }

    withName: GNU_SORT_A {
        ext.args        = { "-k1,1 -k2,2n -S${task.memory.mega - 100}M -T ." }
        ext.suffix      = { "intersect" }
    }

    withName: GNU_SORT_B {
        ext.args        = { "-k1,1 -k2,2n -S${task.memory.mega - 100}M -T ." }
        ext.suffix      = { "sorted" }
    }

    withName: GNU_SORT_C {
        ext.args        = { "-k1,1 -k2,2n -S${task.memory.mega - 100}M -T ." }
        ext.suffix      = { "bins" }
    }

    withName: GAWK_EXTRACT_REPEATS {
        ext.prefix = { "${meta.id}_repeats" }
        ext.suffix = 'bed'
    }

    withName: GAWK_REPLACE_DOTS {
        ext.prefix = { "${meta.id}_nodot" }
        ext.suffix = 'bed'
    }

    withName: GAWK_RENAME_IDS {
        ext.prefix = { "${meta.id}_renamed" }
        ext.suffix = 'bed'
    }

    withName: GAWK_REFORMAT_INTERSECT {
        ext.prefix  = { "${meta.id}_repeat_mk" }
        ext.suffix  = 'bed'
    }

    withName: TABIX_BGZIPTABIX {
        ext.prefix      = { "repden_${meta.id}" }
        ext.args        = ""
        ext.args2       = { "--csi" }
    }
}
